#tools h4{
  color: beige;
}
#tools span{
  color: beige;
}

#tools .swiper{
  width: 300px;
  /* border-radius: 15px; */
}

#tools .swiper-slide #html{
  display: flex;
  background-color: rgba(255, 165, 0, 0.6);
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 15px 0 15px 0px;
}


#tools .swiper-slide #css{
  display: flex;
  background-color: rgba(135, 206, 250, 0.4);
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 15px 0 15px 0px;

}

#tools .swiper-slide #js{
  display: flex;
  background-color: rgba(255, 255, 0, 0.6);
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 15px 0 15px 0px;

}

#tools .swiper-slide #react{
  display: flex;
  background-color: rgba(135, 206, 250, 0.4);
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 15px 0 15px 0px;

}

#tools .swiper-slide #angular{
  display: flex;
  background-color: rgba(255, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 15px 0 15px 0px;

}


.grid-tools{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  max-height: 150px;
}

.grid-tools span{
  color: #5FB9B0;
}
