*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family:"Poppins", "Nunoto","Edu NSW ACT Foundation" , "PT Serif";
}


:root{
    --textcolor: #fff;
    --bg-color: #252525;

    --colorbase:blueviolet;
    --textdetalhes:#53f5e7;

}


.hero-bg{
    background: url("img/pexels-lucie-liz-3165335.jpg");
    filter: opacity(80%);
    /* filter: saturate(80%); */
    width: 100%;
    height: 100vh;
}
.menu{
    position: fixed;
    top: 250px;
}

.menu header nav ul li img{
    width: 40px;
    margin-left: 60px;
    padding-top: 30px;
    
}

.title-page{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 450px;
}

.title-page h1, p,span{
    color: var(--textcolor);
    font-size: 4rem;
    width: 100%;

    
}
.bg-title-page span {
    background-image: linear-gradient(to right, var(--colorbase), var(--textdetalhes));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
