@import 'hero.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", "Nunito", "Edu NSW ACT Foundation", "PT Serif";
}

:root {
  --textcolor: #fff;
  --bg-color: #252525;
  --colorbase: rgb(175, 69, 255);
  --textdetalhes: #53f5e7;
  --textomini: #525252;
  --font-size-title: 4rem;
  --font-family-title:"Nunito";
  --font-family-title-span: "EDU NSW ACT Foundation";
}

.bg{
    
 background-image: linear-gradient(to top, #111 95%, var(--colorbase));
 padding-top: 100px;
      
}
