* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", "Nunoto", "Edu NSW ACT Foundation", "PT Serif";
}

:root {
  --textcolor: #fff;
  --bg-color: #252525;
  --colorbase: blueviolet;
  --textdetalhes: #53f5e7;
  --textomini: #525252;
}

/* Hero e Menu */
.hero-bg {
  background: url("img/pexels-lucie-liz-3165335.jpg");
  filter: opacity(80%);
  width: 100%;
  height: 100vh;
}
.menu {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.menu header nav ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
.menu header nav ul li img {
  width: 40px;
  margin-left: 60px;
  padding-top: 30px;
  position: fixed;
  z-index: 9999;
}

/* Tipografia */
.title-page {
  max-width: 1400px;
  margin: 0 auto;
  margin-left: 480px;
  padding-top: 700px;
}

.title-page h1,
p,
span {
  color: var(--textcolor);
  font-size: 4rem;
  width: 100%;
}
.bg-title-page span {
  background-image: linear-gradient(
    to right,
    var(--colorbase),
    var(--textdetalhes)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background-image: linear-gradient(
    to right,
    var(--colorbase),
    var(--textdetalhes)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loc {
  padding-top: 100px;
  padding-bottom: 100px;
}
.title {
  font-size: 3rem;
}
/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #252525;
  padding: 20px 40px;
  opacity: 95%;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px var(--textcolor);
  
}


/* .tag {
  font-size: 1rem;
  background-color: var(--colorbase);
  opacity: 50%;
  padding: 20px;
  border-radius: 4px;
} */

.desc-about {
  display: grid;
  grid-template-columns: 1fr;
  text-align: justify;
}

.desc-about p {
  font-size: 1rem;
  color: var(--textcolor);
}
.desc-about span {
  font-size: 1.5rem;
}
.desc-about li {
  font-size: 1.5rem;
  color: var(--textcolor);
  list-style: circle;
  margin-left: 45px;
}


/* Ferramentas */
.mentas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  justify-content: center;
  justify-items: center;
  background-color: #252525;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: -80px;
  background-color: #252525;
  box-shadow: 0 0 2px 2px var(--textcolor);
}
.mentas img {
  width: 50px;
}

/* Projetos */

.projetos {
  max-width: 1400px;
  margin: 0 auto;
  margin-left: -80px;
  margin-right: -80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  justify-items: center;
 
}
.card-projeto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 40px 20px;
  margin-top: 80px;
  border-radius: 4px;
  justify-content: center;
  box-shadow: 0 0 2px 2px var(--textcolor);
}
.card-projeto img {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 210px;
}
.card-projeto h3 {
  color: var(--textcolor);
  font-size: 2.5rem;
  padding-top: 100px;
}
.card-projeto span {
  font-size: 1rem;
  text-align: justify;
  color: var(--textomini);
}
