
.display{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: #111; */
  /* border: 3px solid var(--colorbase); */
  box-shadow: 2px 4px 6px 1px var(--colorbase);
  padding: 20px 40px;
  border-radius: 20px;
  justify-items: center;
}
 .display img{
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
 }

.display h2{
  font-size: var(--font-size-title);
  color: var(--textcolor);
  font-family: var(--font-family-title);
}


.display .span-display{
  display: block;
}
.display .span-display span{
  display: block;
  font-size: 2rem;
  margin-top: -25px;
  margin-bottom: 40px;
  color: var(--colorbase);
}
.display .span-display img{
  width: 30px;
  margin-left: 20px;
  margin-top: 25px;
  /* border-radius:10px ; */
  

}

.display span{
  color: var(--textcolor);
}
.tech{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.tech li img{
  width: 40px;
}
@media(max-width:1450px){
  .display li span{
    font-size: 1rem;
  }
}

@media(max-width:1100px){
  .display{
    margin: 40px;
  }
  .display h2{
    font-size: 2rem;
  }
 
  .span-display span{
    padding-top: 15px;
  }
   
  .tech img{
    display: block;
  }
  .span-display img{
    width: 30px;
  }
/* 
  .display{
    grid-template-columns: 1fr;
   justify-items: left;
  } */
}
@media(max-width:900px){
  .display h2{
    font-size: 2rem;
  }

   #dev{
    font-size: 1.5rem;
  }
 

 .display{
    grid-template-columns: 1fr;
   justify-items: left;
  box-shadow: 2px 4px 6px 1px var(--colorbase);
  border-radius: 4px;
    margin: 40px;

  }
}

@media(max-width:480px){
 
 
.display img{
  display: none;
}
.display .tech img{
  display: flex;
}
  

  


}